{% extends 'base.html' %}

{% block title %}
Changelog | SkillHQ
{% endblock %}

{% block content %}

<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
  <!-- We've used 3xl here, but feel free to try other max-widths based on your needs -->
  <div class="max-w-3xl mx-auto">
    <!-- Be sure to use this with a layout container that is full-width on mobile -->
    <div class="bg-gray-50 overflow-hidden sm:rounded-lg mt-20">
      <div class="px-4 py-5 sm:p-6">
        <div class="prose lg:prose-xl">
            <h2>Changelog</h2>
            <p>
                Latest Changes by version
            </p>

            <h4>
                v.2 - 6 August 2020
            </h4>
            <ul>
                <li>Private Profiles</li>
                <li>Likes</li>
                <li>Changelog</li>
            </ul>
        </div>
      </div>
    </div>


  </div>
</div>





{% endblock %}