{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{% block title %} {% endblock %}</title>

    <link rel="stylesheet" href="{% static 'style.css' %}">

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>


    {% if "skillhq.io" in request.hostname %}
    <!-- Fathom - beautiful, simple website analytics -->
    <script src="https://cdn.usefathom.com/script.js" site="NVXEAPUY" defer></script>
    <!-- / Fathom -->
    {% endif %}


</head>
<body>

<div id="app">
{% block content %}
{% endblock %}
</div>

<script type="text/javascript">
    var app = new Vue({
        delimiters: ["[[", "]]"],
        el: "#app",
        data:{},
        methods:{},
        computed:{},
    })
</script>

</body>
</html>