{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{% block title %} {% endblock %}</title>

    <link rel="stylesheet" href="{% static 'style.css' %}">

    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    {% if "skillhq.io" in request.hostname %}
    <script async defer data-domain="app.skillhq.io" src="https://plausible.io/js/plausible.js"></script>
    <!-- Analytics Tag here -->
    {% endif %}


</head>
<body>

{% block content %}
{% endblock %}

{% block js %}
{% endblock %}


</body>
</html>