{% extends "app_base.html" %}

{% load static %}

{% block title %}
Password Reset
{% endblock %}


{% block app_content %}


    <div class="min-h-screen flex flex-col justify-center py-12 sm:px-6 lg:px-8">
      <div class="sm:mx-auto sm:w-full sm:max-w-md">
        <h2 class="text-center text-3xl leading-9 font-extrabold text-gray-900">
          Password Reset
        </h2>
        <p class="mt-2 text-center text-sm leading-5 text-gray-600 max-w">

          <a href="{% url 'account:login' %}" class="font-medium text-indigo-600 hover:text-indigo-500 focus:outline-none focus:underline transition ease-in-out duration-150">
            your password has been successfully changed.
          </a>
        </p>
      </div>

    </div>



{% endblock %}
