{% extends "app_base.html" %}

{% load static %}

{% block title %}
Dashboard
{% endblock %}

{% block js %}

<script>
  let sourceData = [
    {% for subject in all_subjects %}
    "{{ subject }}",
    {% endfor %}
]
</script>
<script src="{% static 'js/dashboard.js' %}"></script>
{% endblock %}


{% block sidebar %}
{% url 'dashboard:resource_list' as the_url %}
{% include "shared/subject_sort.html" with endpoint=the_url %}
{% endblock %}


{% block app_content %}




<main x-data="{ showSlideover: false }">
  {% include "dashboard/slideover.html" %}
  <div class="mx-auto sm:px-6 lg:px-8">
    <!-- Materials Card -->
    <div class="bg-white overflow-hidden sm:rounded-md">
      <ul>
        <li>
          <div class="bg-white px-4 py-5 sm:px-6">
                  <div class="-ml-4 -mt-2 flex items-center justify-between flex-wrap sm:flex-no-wrap">
                    <div class="ml-4 mt-2">
                      <h3 class="text-lg leading-6 font-medium text-gray-900">
                        E-Learning Materials
                      </h3>
                    </div>
                    <div class="ml-4 mt-2 flex-shrink-0">
                      <span class="inline-flex rounded-md shadow-sm">
                        <button @click="showSlideover = !showSlideover" type="button" class="inline-flex items-center px-4 py-2 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:shadow-outline-indigo focus:border-indigo-700 active:bg-indigo-700">
                          Add New Resource
                        </button>
                      </span>
                    </div>
                  </div>
                </div>
        </li>
        <li>
          <div class="bg-white px-4 py-5 sm:px-6">
                  <div class="-ml-4 -mt-2 flex items-center justify-between flex-wrap sm:flex-no-wrap">
                    <div class="ml-4 mt-2">
                      <h4 class="leading-6 font-medium text-gray-500">
                        In Progress
                      </h4>
                    </div>
                  </div>
                </div>
        </li>
        {% for r in resources_in_progress %}
          {% include "dashboard/resource/row.html" with r=r  %}
        {% endfor %}
        <li>
          <div class="bg-white px-4 py-5 sm:px-6">
                  <div class="-ml-4 -mt-2 flex items-center justify-between flex-wrap sm:flex-no-wrap">
                    <div class="ml-4 mt-2">
                      <h4 class="leading-6 font-medium text-gray-500">
                        Not Started/On Hold
                      </h4>
                    </div>
                  </div>
                </div>
        </li>
        {% for r in resources_paused %}
          {% include "dashboard/resource/row.html" with r=r  %}
        {% endfor %}
        <li>
          <div class="bg-white px-4 py-5 sm:px-6">
                  <div class="-ml-4 -mt-2 flex items-center justify-between flex-wrap sm:flex-no-wrap">
                    <div class="ml-4 mt-2">
                      <h4 class="leading-6 font-medium text-gray-500">
                        Completed
                      </h4>
                    </div>
                  </div>
                </div>
        </li>
        {% for r in resources_completed %}
          {% include "dashboard/resource/row.html" with r=r  %}
        {% endfor %}
      </ul>
  </div>
</div>

    </main>
{% endblock %}