{% extends "app_base.html" %}

{% load static %}

{% block title %}
Dashboard
{% endblock %}

{% block js %}
  <script src="{% static 'js/dashboard.js' %}"></script>
{% endblock %}



{% block app_content %}




<main x-data="{ showSlideover: false }">
  <div class="mx-auto sm:px-6 lg:px-8">
  <div class="bg-white overflow-hidden sm:rounded-md mb-4">
      <ul>
        <li>
          <div class="bg-white px-4 py-5 sm:px-6">
                  <div class="-ml-4 -mt-2">
                    <div class="ml-4 mt-2">
                      <h3 class="text-lg leading-6 font-medium text-gray-900">
                        What Did you learn Today?
                      </h3>
                        <p class="text-gray-400 text-sm font-medium">Learning Log - Share new things you learned</p>
                    </div>
                  </div>
              <div class="mt-2">
                  <form action="{% url 'dashboard:add_log' %}" method="POST">
                      {% csrf_token %}
                  <div class="mt-1 relative rounded-md shadow-sm">
                    <input name="text" class="form-input block w-full sm:text-sm sm:leading-5" placeholder="What did you learn today?">
                  </div>
                  <span class="inline-flex rounded-md shadow-sm">
                        <button type="submit" class="mt-2 inline-flex items-center px-4 py-2 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:shadow-outline-indigo focus:border-indigo-700 active:bg-indigo-700">
                          Submit
                        </button>
                      </span>
                  </form>
            </div>
        </div>
        </li>
      </ul>
  </div>



  <div class="bg-white overflow-hidden sm:rounded-md mb-4">
      <ul>
        <li>
          <div class="bg-white px-4 py-5 sm:px-6">
                  <div class="-ml-4 -mt-2 flex items-center justify-between flex-wrap sm:flex-no-wrap">
                    <div class="ml-4 mt-2">
                      <h3 class="text-lg leading-6 font-medium text-gray-900">
                        Feed
                      </h3>
                    </div>
                    <div class="ml-4 mt-2 flex-shrink-0">
                      <span class="inline-flex rounded-md shadow-sm">
                        <a href="{% url 'dashboard:new_discussion' %}" class="inline-flex items-center px-4 py-2 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:shadow-outline-indigo focus:border-indigo-700 active:bg-indigo-700">
                          Add Discussion Post
                        </a>
                      </span>
                    </div>
                  </div>
                </div>
        </li>
        {% for action in actions %}
          <li>
              <div class="bg-gray-50 px-4 py-5 sm:px-6 m-4 flex items-center justify-between">

                  <div class="flex items-center">
                        <img class="mr-2 object-cover border-2 border-indigo-500 inline-block h-10 w-10 rounded-full" src="{% if action.user.profile.photo %}{{ action.user.profile.photo.url }}{% endif %}" alt="{{ action.user.username}}'s profile picture">
                      <div>
                          <div>
                              <a href="{% url 'dashboard:profile' action.user.username %}" class="text-indigo-500 font-medium">@{{ action.user.username }}</a>
                              <span>{{ action.verb }} {% if action.target %}
                              {% if action.verb == 'started discussion' %}<a class="text-indigo-500" href="{% url 'dashboard:discussion_detail' action.target.id %}">{{ action.target }}</a>{% endif %}
                              {% if action.verb == 'learned today:' %}<span class="text-gray-500">{{ action.target }}</span>{% endif %}
                              {% if action.verb == 'completed a task' %}<span class="text-gray-500">{{ action.target }}</span>{% endif %}
                              {% endif %}</span>
                          </div>
                          <p class="text-gray-500 text-sm">{{ action.created|timesince }} ago</p>
                      </div>
                  </div>
                  <div>
<!--                      <button class="rounded p-2 shadow bg-white hover:bg-gray-100 active:bg-gray-200">-->
<!--                          <svg class="h-6" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor"><path d="M14 10h4.764a2 2 0 011.789 2.894l-3.5 7A2 2 0 0115.263 21h-4.017c-.163 0-.326-.02-.485-.06L7 20m7-10V5a2 2 0 00-2-2h-.095c-.5 0-.905.405-.905.905 0 .714-.211 1.412-.608 2.006L7 11v9m7-10h-2M7 20H5a2 2 0 01-2-2v-6a2 2 0 012-2h2.5"></path></svg>-->
<!--                      </button>-->
                  </div>

              </div>
          </li>
        {% endfor %}


      </ul>

  </div>
</div>

    </main>
{% endblock %}