{% extends "app_base.html" %}

{% load static %}

{% block title %}
Dashboard
{% endblock %}

{% block js %}
  <script src="{% static 'js/dashboard.js' %}"></script>
{% endblock %}

{% block sidebar %}
<div class="mt-4 bg-white sm:rounded-md px-4 py-5 text-gray-900 leading-8">
<p>Recent Discussions</p>
    <ul>
        {% for post in recent_posts %}
        <li class="text-xs">
            <a class="text-indigo-600 hover:text-indigo-400" href="{% url 'dashboard:discussion_detail' post.id %}">{{ post.title }}</a>
            <div class="-mt-4">
                <small>{{ post.comments.count }} Comments</small>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>

<!--<div class="mt-4">-->
<!--    <a class="bg-indigo-400 p-2 rounded shadow text-white px-2" href="https://discord.gg/Xn2vdd">Join Our Discord Server</a>-->
<!--</div>-->

{% endblock %}

{% block app_content %}


<main x-data="{ showSlideover: false }">
  <div class="mx-auto sm:px-6 lg:px-8">
  <div class="bg-white overflow-hidden sm:rounded-md mb-4">
      <ul>
        <li>
          <div class="bg-white px-4 py-5 sm:px-6">
                  <div class="-ml-4 -mt-2">
                    <div class="ml-4 mt-2">
                      <h3 class="text-lg leading-6 font-medium text-gray-900">
                        What Did you learn Today?
                      </h3>
                        <p class="text-gray-400 text-sm font-medium">Learning Log - Share new things you learned</p>
                    </div>
                  </div>
              <div class="mt-2">
                  <form id="log-form" action="{% url 'dashboard:add_log' %}" method="POST">
                      {% csrf_token %}
                  <div class="mt-1 relative rounded-md shadow-sm">
                    <input name="text" class="form-input block w-full sm:text-sm sm:leading-5" placeholder="What did you learn today?">
                  </div>
                  <span class="inline-flex rounded-md shadow-sm">
                        <button type="submit" class="mt-2 inline-flex items-center px-4 py-2 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:shadow-outline-indigo focus:border-indigo-700 active:bg-indigo-700">
                          Submit
                        </button>
                      </span>
                  </form>
            </div>
        </div>
        </li>
      </ul>
  </div>



  <div class="bg-white overflow-hidden sm:rounded-md mb-4">
      <ul>
        <li>
          <div class="bg-white px-4 py-5 sm:px-6">
                  <div class="-ml-4 -mt-2 flex items-center justify-between flex-wrap sm:flex-no-wrap">
                    <div class="ml-4 mt-2">
                      <h3 class="text-lg leading-6 font-medium text-gray-900">
                        Feed
                      </h3>
                    </div>
                    <div class="ml-4 mt-2 flex-shrink-0">
                      <span class="inline-flex rounded-md shadow-sm">
                        <a href="{% url 'dashboard:new_discussion' %}" class="inline-flex items-center px-4 py-2 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:shadow-outline-indigo focus:border-indigo-700 active:bg-indigo-700">
                          Add Discussion Post
                        </a>
                      </span>
                    </div>
                  </div>
                </div>
        </li>
        {% for action in actions %}
          {% if action.verb != "joined SkillHQ" %}
          <li>
              <div class="bg-gray-50 px-4 py-5 sm:px-6 m-4 flex items-center justify-between">

                  <div class="flex items-center">
                      {% if action.user.profile.photo %}
                      <img class="mr-2 object-cover object-center border-2 border-indigo-500 inline-block h-10 w-10 rounded-full" src="{% if action.user.profile.photo %}{{ action.user.profile.photo.url }}{% endif %}" alt="{{ action.user.username}}'s profile picture">
                      {% else  %}
                      <span class="mr-2 inline-block h-10 w-10 rounded-full bg-gray-100 border-2 border-indigo-500">
                        <svg class="h-full w-full text-gray-300 rounded-full" fill="currentColor" viewBox="0 0 24 24">
                          <path d="M24 20.993V24H0v-2.996A14.977 14.977 0 0112.004 15c4.904 0 9.26 2.354 11.996 5.993zM16.002 8.999a4 4 0 11-8 0 4 4 0 018 0z" />
                        </svg>
                      </span>
                      {% endif %}
                      <div>
                          <div>
                              <a href="{% url 'dashboard:profile' action.user.username %}" class="text-indigo-500 font-medium">@{{ action.user.username }}</a>
                              <span>{{ action.verb }}
                                  {% if action.target %}
                                    {% if action.verb == 'started discussion' %}<a class="text-indigo-500" href="{% url 'dashboard:discussion_detail' action.target.id %}">{{ action.target }}</a>{% endif %}
                                    {% if action.verb == 'learned today:' %}<span class="text-gray-500">{{ action.target }}</span>{% endif %}
                                    {% if action.verb == 'completed a task' %}<span class="text-gray-500">{{ action.target }}</span>{% endif %}
                                  {% endif %}
                              </span>
                          </div>
                          <p class="text-gray-500 text-sm">{{ action.created|timesince }} ago</p>
                      </div>
                  </div>
                   {% with total_likes=action.users_like.count  %}
                    <div x-data="{ totalLikes: '{{ total_likes }}', actionId: '{{ action.id }}', action: '{% if request.user in action.users_like.all  %}un{% endif %}like'}">
                        <button @click="likeAction(actionId, action);
                        if ( action == 'like' ) {
                         action = 'unlike';
                           totalLikes = String(parseInt(totalLikes)+1)} else {
                          action = 'like';
                           totalLikes = String(parseInt(totalLikes)-1)};"
                                class="group cursor-pointer flex items-center rounded shadow-sm p-1 hover:bg-indigo-100 active:bg-indigo-500">
                            <span x-text="totalLikes" class="group-hover:text-indigo-300 text-gray-500 text-sm"
                            :class="{ 'text-gray-400': action == 'unlike' }"></span>
                            <span class="ml-2">
                                <svg class="h-6 w-6 text-gray-300 group-hover:text-indigo-300" :class="{ 'text-indigo-400': action == 'unlike' }" fill="currentColor" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M5 2a1 1 0 011 1v1h1a1 1 0 010 2H6v1a1 1 0 01-2 0V6H3a1 1 0 010-2h1V3a1 1 0 011-1zm0 10a1 1 0 011 1v1h1a1 1 0 110 2H6v1a1 1 0 11-2 0v-1H3a1 1 0 110-2h1v-1a1 1 0 011-1zM12 2a1 1 0 01.967.744L14.146 7.2 17.5 9.134a1 1 0 010 1.732l-3.354 1.935-1.18 4.455a1 1 0 01-1.933 0L9.854 12.8 6.5 10.866a1 1 0 010-1.732l3.354-1.935 1.18-4.455A1 1 0 0112 2z" clip-rule="evenodd"></path></svg>
                            </span>
                        </button>
                    </div>
                  {% endwith %}
              </div>

          </li>
        {% endif %}
        {% endfor %}


      </ul>

  </div>
</div>

    </main>
{% endblock %}