{% extends "app_base.html" %}

{% load static %}

{% block title %}
Dashboard
{% endblock %}

{% block js %}
{% endblock %}

{% block sidebar %}
{% url 'dashboard:note_list' as the_url %}
{% include "shared/subject_sort.html" with endpoint=the_url %}
{% endblock %}


{% block app_content %}


<main>
  <div class="mx-auto sm:px-6 lg:px-8">
    <!-- Materials Card -->
    <div class="bg-white overflow-hidden sm:rounded-md">
      <ul>
        <li>
          <div class="bg-white px-4 py-5 sm:px-6">
                  <div class="-ml-4 -mt-2 flex items-center justify-between flex-wrap sm:flex-no-wrap">
                    <div class="ml-4 mt-2">
                      <h3 class="text-lg leading-6 font-medium text-gray-900">
                        Notes
                      </h3>
                    </div>
                    <div class="hidden ml-4 mt-2 flex-shrink-0">
                      <span class="inline-flex rounded-md shadow-sm">
                        <a href="#" class="inline-flex items-center px-4 py-2 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:shadow-outline-indigo focus:border-indigo-700 active:bg-indigo-700">
                          Add New Note
                        </a>
                      </span>
                    </div>
                  </div>
                </div>
        </li>
      </ul>

      <div class="p-4">
        <ul class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3">
          {% for note in notes %}
          <li class="col-span-1 bg-white rounded-lg shadow">
            <div class="w-full flex items-center justify-between p-6 space-x-6">
              <div class="flex-1 truncate">
                <div class="flex items-center space-x-3">
                  <h3 class="text-gray-900 text-sm leading-5 font-medium truncate">{{ note.title }}</h3>
                  <span class="flex-shrink-0 inline-block px-2 py-0.5 text-teal-800 text-xs leading-4 font-medium bg-teal-100 rounded-full">{{ note.resource.subject }}</span>
                </div>
                <p class="mt-1 text-gray-500 text-sm leading-5 truncate">{{ note.resource.title }}</p>
              </div>
<!--              <img class="w-10 h-10 bg-gray-300 rounded-full flex-shrink-0" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=facearea&amp;facepad=4&amp;w=256&amp;h=256&amp;q=60" alt="">-->
            </div>
            <div class="border-t border-gray-200">
              <div class="-mt-px flex">
                <div class="w-0 flex-1 flex border-r border-gray-200">
                  <a href="{% url 'dashboard:note_detail' note.id %}" class="group hover:bg-indigo-300 hover:text-indigo-700 relative -mr-px w-0 flex-1 inline-flex items-center justify-center py-4 text-sm leading-5 text-gray-700 font-medium border border-transparent rounded-bl-lg hover:text-gray-500 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 focus:z-10 transition ease-in-out duration-150">

                    <svg class="w-5 h-5 text-gray-400 group-hover:text-indigo-700"
                            fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor"><path d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path><path d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"></path></svg>
                    <span class="ml-3">View</span>
                  </a>
                </div>
<!--                <div class="-ml-px w-0 flex-1 flex">-->
<!--                  <a href="#" class="group hover:bg-red-300 hover:text-red-700 relative w-0 flex-1 inline-flex items-center justify-center py-4 text-sm leading-5 text-gray-700 font-medium border border-transparent rounded-br-lg hover:text-gray-500 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 focus:z-10 transition ease-in-out duration-150">-->
<!--                    <svg class="w-5 h-5 text-gray-400 group-hover:text-red-700"   fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor"><path d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"></path></svg>-->
<!--                    <span class="ml-3">Delete</span>-->
<!--                  </a>-->
<!--                </div>-->
              </div>
            </div>
          </li>
          {% endfor %}
</ul>

      </div>

  </div>
</div>

    </main>
{% endblock %}