
<div x-show="showSlideover" class="fixed inset-0 overflow-hidden">
  <div class="absolute inset-0 overflow-hidden">
    <section class="absolute inset-y-0 right-0 pl-10 max-w-full flex">
      <!--
        Slide-over panel, show/hide based on slide-over state.

        Entering: "transform transition ease-in-out duration-500 sm:duration-700"
          From: "translate-x-full"
          To: "translate-x-0"
        Leaving: "transform transition ease-in-out duration-500 sm:duration-700"
          From: "translate-x-0"
          To: "translate-x-full"
      -->
      <div x-show="showSlideover"
           x-transition:enter="transform transition ease-in-out duration-500 sm:duration-700"
           x-transition:enter-start="translate-x-full"
           x-transition:enter-end="translate-x-0"
           x-transition:leave="transform transition ease-in-out duration-500 sm:duration-700"
           x-transition:leave-start="translate-x-0"
           x-transition:leave-end="translate-x-full"
              class="w-screen max-w-md">
        <div class="h-full flex flex-col bg-white shadow-xl overflow-y-scroll">
          <header class="space-y-1 py-6 px-4 bg-indigo-700 sm:px-6">
            <div class="flex items-center justify-between space-x-3">
              <h2 class="text-lg leading-7 font-medium text-white">
                Add New E-Learning Resource
              </h2>
              <div class="h-7 flex items-center">
                <button @click="showSlideover = !showSlideover" aria-label="Close panel" class="text-indigo-200 hover:text-white transition ease-in-out duration-150">
                  <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                  </svg>
                </button>
              </div>
            </div>
            <div>
              <p class="text-sm leading-5 text-indigo-300">
                create a new resource and give it a title, type, description.
              </p>
            </div>
          </header>
          <div class="relative flex-1 py-6 px-4 sm:px-6">
          <form id="add-resource-form" method="POST">
                {% csrf_token %}
            <div>
              <label for="new-res__title" class="block text-sm font-medium leading-5 text-gray-700">Resource Name</label>
              <div class="mt-1 relative rounded-md shadow-sm">
                <input  required name="title" id="new-res__title" class="form-input block w-full sm:text-sm sm:leading-5" placeholder="e.g Web Design Course by Joe Smith">
              </div>
            </div>

            <div x-data="loadSubjects()">
              <div class="mt-4">
                <label for="new-res__subject" class="block text-sm font-medium leading-5 text-gray-700">Subject</label>
                <div class="mt-1 relative rounded-md shadow-sm">
                  <input x-ref="searchField"
                         x-model="search"
                         x-on:keydown.window.prevent.slash="$refs.searchField.focus()"
                         @keydown="showOptions = true"
                         @click.away="showOptions = false"
                         type="search"
                         autocomplete="off"
                          required id="new-res__subject" name="subject" class="form-input block w-full sm:text-sm sm:leading-5" placeholder="e.g Web Design">
                </div>
              </div>

              <div x-show="showOptions" class="relative z-50">
                <div class="absolute mt-1 w-full rounded-md bg-white shadow-lg">
                  <ul tabindex="-1" role="listbox" aria-labelledby="listbox-label" aria-activedescendant="listbox-item-3" class="max-h-60 rounded-md py-1 text-base leading-6 shadow-xs overflow-auto focus:outline-none sm:text-sm sm:leading-5">
                    <!--
                      Select option, manage highlight styles based on mouseenter/mouseleave and keyboard navigation.

                      Highlighted: "text-white bg-indigo-600", Not Highlighted: "text-gray-900"
                    -->
                    <template x-for="item in filteredSubjects" :key="item">
                    <li @click="search=item" id="listbox-option-0" role="option" class="cursor-pointer text-gray-900 cursor-default select-none relative py-2 pl-3 pr-9">
                      <!-- Selected: "font-semibold", Not Selected: "font-normal" -->
                      <span x-text="item" class="font-normal hover:font-semibold block truncate">
                      </span>
                    </li>
                    </template>

                    <!-- More options... -->
                  </ul>
                </div>
            </div>




              </div>


            <div class="mt-4">
              <label for="new-res__url" class="block text-sm font-medium leading-5 text-gray-700">URL <span class="text-gray-500">(if applies)</span></label>
              <div class="mt-1 relative rounded-md shadow-sm">
                <input name="url" id="new-res__url" class="form-input block w-full sm:text-sm sm:leading-5" placeholder="e.g https://www.udemy.com/somecourse">
              </div>
            </div>

            <div class="mt-4">
              <div class="space-y-1">
                    <label for="new-res__description" class="block text-sm font-medium leading-5 text-gray-900">
                      Description
                    </label>
                    <div class="relative rounded-md shadow-sm">
                      <textarea name="description" id="new-res__description" rows="4" class="form-input block w-full sm:text-sm sm:leading-5 transition ease-in-out duration-150"></textarea>
                    </div>
                  </div>
            </div>


              <div class="mt-4">
                  <label for="new-res__type" class="block text-sm leading-5 font-medium text-gray-700">Type</label>
                  <select required name="resource_type" id="new-res__type" class="mt-1 form-select block w-full pl-3 pr-10 py-2 text-base leading-6 border-gray-300 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 sm:text-sm sm:leading-5">
                    <option disabled>Resource Type...</option>
                    {% for tup in form.resource_type.field.choices %}
                    <option value="{{ tup.0 }}"> {{ tup.1 }}</option>
                    {% endfor %}
                  </select>
                </div>
            </form>


                <div x-data="{ items: [] }" x-init="$refs.ok.disabled = true" class="mt-16">
                    <p class="block text-xl leading-5 font-bold text-gray-700">Resource ToDos</p>
                  <div class="mt-2">
                    <label for="task" class="block text-sm font-medium leading-5 text-gray-700">Resource Name</label>
                    <form>

                      <div class="mt-1 relative rounded-md shadow-sm inline-flex w-3/5">
                        <input x-model="name" @keyup="$refs.ok.disabled = name.length === 0" id="task" class="form-input block w-full sm:text-sm sm:leading-5" placeholder="e.g Watch chapter 1 video">
                      </div>
                      <span class="inline-flex rounded-md shadow-sm w-1/5 ml-8">
                      <button @click="items.push(name); name=''; $refs.ok.disabled = true" x-ref="ok" type="submit" class="inline-flex items-center px-2.5 py-1.5 border border-transparent text-xs leading-4 font-medium rounded text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition ease-in-out duration-150">
                        Add Task
                      </button>
                    </span>
                    </form>
                  </div>


                  <div class="mt-8">
                    <template x-for="item in items" :key="item">

                      <div class="mtask-item flex justify-between text-gray-500 font-medium p-2 mt-2 border rounded shadow border-1 border-indigo-100">
                        <div class="flex">
                              <button @click="items = items.filter(i => i !== item)" class="rounded-full p-1 bg-gray-400 hover:bg-red-400 active:bg-red-600 text-gray-100 hover:text-red-200 active:text-red-400 cursor-pointer mr-2">
                                <svg class="h-4" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor"><path d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"></path></svg>
                                <input type="hidden" x-bind:value="item" class="task-title">

                              </button>
                          <p class="truncate mr-8" x-text="item"></p>
                        </div>

                        <div x-data="{ clicked: false }"
                             @click="clicked = !clicked"
                             :class="{ 'bg-gray-400 hover:bg-green-200': !clicked, 'bg-green-400 hover:bg-gray-200': clicked}" class="rounded-full p-1 cursor-pointer">
                          <svg class="h-4 text-gray-100" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor"><path d="M5 13l4 4L19 7"></path></svg>
                          <input type="hidden" x-bind:value="clicked" class="task-status">
                        </div>
                      </div>

                    </template>

<!--                    <div class="flex justify-between text-gray-500 font-medium p-2 mt-2 border rounded shadow border-1 border-indigo-100">-->
<!--                      <p class="truncate mr-8">Design Homework</p>-->
<!--                      <div class="rounded-full p-1 bg-green-400 hover:bg-gray-200 cursor-pointer">-->
<!--                        <svg class="h-4 text-gray-100" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor"><path d="M5 13l4 4L19 7"></path></svg>-->
<!--                      </div>-->
<!--                    </div>-->

<!--                    <div class="flex justify-between text-gray-500 font-medium p-2 mt-2 border rounded shadow border-1 border-indigo-100">-->
<!--                      <p class="truncate mr-8">Watch Chapter 4 Videos</p>-->
<!--                      <div class="rounded-full p-1 bg-gray-400 hover:bg-green-200 cursor-pointer">-->
<!--                        <svg class="h-4 text-gray-100" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor"><path d="M5 13l4 4L19 7"></path></svg>-->
<!--                      </div>-->
<!--                    </div>-->

                    <!-- Show this by default if there is no tasks -->
                    <div x-show="items.length == 0" class="border-dashed border-4 border-gray-400 rounded h-24 mt-8 text-center bg-gray-100">
                      <p class="mt-8 text-gray-400">No Tasks. Add something.</p>
                    </div>
                  </div>
                </div>

                <div class="mt-12 static">
                  <span class="rounded-md shadow-sm w-full relative bottom-0 inset-0">
                    <button form="add-resource-form" class="w-full px-4 py-2 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition ease-in-out duration-150">
                      Add Resource & Tasks
                    </button>
                  </span>
                </div>




          </div>
        </div>
      </div>
    </section>
  </div>
</div>
</form>