<div class="fixed inset-0 overflow-hidden z-50">
  <div class="absolute inset-0 overflow-hidden">
    <section class="absolute inset-y-0 right-0 pl-10 max-w-full flex">
      <!--
        Slide-over panel, show/hide based on slide-over state.

        Entering: "transform transition ease-in-out duration-500 sm:duration-700"
          From: "translate-x-full"
          To: "translate-x-0"
        Leaving: "transform transition ease-in-out duration-500 sm:duration-700"
          From: "translate-x-0"
          To: "translate-x-full"
      -->
      <div class="w-screen max-w-md">
        <div class="h-full flex flex-col bg-white shadow-xl overflow-y-scroll">
          <header class="space-y-1 py-6 px-4 bg-pink-700 sm:px-6">
            <div class="flex items-center justify-between space-x-3">
              <h2 class="text-lg leading-7 font-medium text-white">
                Add New E-Learning Resource
              </h2>
              <div class="h-7 flex items-center">
                <button aria-label="Close panel" class="text-pink-200 hover:text-white transition ease-in-out duration-150">
                  <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                  </svg>
                </button>
              </div>
            </div>
            <div>
              <p class="text-sm leading-5 text-pink-300">
                create a new resource and give it a title, type, description.
              </p>
            </div>
          </header>
          <div class="relative flex-1 py-6 px-4 sm:px-6">

            <div>
              <label for="name" class="block text-sm font-medium leading-5 text-gray-700">Resource Name</label>
              <div class="mt-1 relative rounded-md shadow-sm">
                <input id="name" class="form-input block w-full sm:text-sm sm:leading-5" placeholder="e.g Web Design Course by Joe Smith">
              </div>
            </div>

            <div class="mt-4">
              <label for="subject" class="block text-sm font-medium leading-5 text-gray-700">Subject</label>
              <div class="mt-1 relative rounded-md shadow-sm">
                <input id="subject" class="form-input block w-full sm:text-sm sm:leading-5" placeholder="e.g Web Design">
              </div>
            </div>


              <div class="mt-4">
                  <label for="resource_type" class="block text-sm leading-5 font-medium text-gray-700">Type</label>
                  <select id="resource_type" class="mt-1 form-select block w-full pl-3 pr-10 py-2 text-base leading-6 border-gray-300 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 sm:text-sm sm:leading-5">
                    <option>Video Course</option>
                    <option>Text Course</option>
                    <option>Tutorial Article</option>
                      <option>YouTube Video</option>
                      <option>eBook</option>
                      <option>Other</option>
                  </select>
                </div>

                <div class="mt-16">
                    <p class="block text-xl leading-5 font-bold text-gray-700">Resource ToDos</p>
                  <div class="mt-2">
                    <label for="task" class="block text-sm font-medium leading-5 text-gray-700">Resource Name</label>
                    <div>

                      <div class="mt-1 relative rounded-md shadow-sm inline-flex w-3/5">
                        <input id="task" class="form-input block w-full sm:text-sm sm:leading-5" placeholder="e.g Watch chapter 1 video">
                      </div>
                      <span class="inline-flex rounded-md shadow-sm w-1/5 ml-8">
                      <button type="button" class="inline-flex items-center px-2.5 py-1.5 border border-transparent text-xs leading-4 font-medium rounded text-white bg-pink-600 hover:bg-pink-500 focus:outline-none focus:border-pink-700 focus:shadow-outline-pink active:bg-pink-700 transition ease-in-out duration-150">
                        Add Task
                      </button>
                    </span>
                    </div>
                  </div>


                  <div class="mt-8">

                    <div class="flex justify-between text-gray-500 font-medium p-2 mt-2 border rounded shadow border-1 border-pink-100">
                      <p class="truncate mr-8">Design Homework</p>
                      <div class="rounded-full p-1 bg-green-400">
                        <svg class="h-4 text-gray-100" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor"><path d="M5 13l4 4L19 7"></path></svg>
                      </div>
                    </div>

                    <div class="flex justify-between text-gray-500 font-medium p-2 mt-2 border rounded shadow border-1 border-pink-100">
                      <p class="truncate mr-8">Watch Chapter 4 videos & opening skulls of my sworn enemies</p>
                      <div class="rounded-full p-1 bg-gray-400">
                        <svg class="h-4 text-gray-100" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor"><path d="M5 13l4 4L19 7"></path></svg>
                      </div>
                    </div>

                    <!-- Show this by default if there is no tasks -->
                    <div class="border-dashed border-4 border-gray-400 rounded h-24 mt-8 text-center bg-gray-100">
                      <p class="mt-8 text-gray-400">No Tasks. Add something.</p>
                    </div>





                  </div>
                </div>

                <div class="mt-32 static">
                  <span class="rounded-md shadow-sm w-full relative bottom-0 inset-0">
                    <button type="button" class="w-full px-4 py-2 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-pink-600 hover:bg-pink-500 focus:outline-none focus:border-pink-700 focus:shadow-outline-pink active:bg-pink-700 transition ease-in-out duration-150">
                      Add Resource & Tasks
                    </button>
                  </span>
                </div>




          </div>
        </div>
      </div>
    </section>
  </div>
</div>
