{% extends "app_base.html" %}

{% block title %}
{{ resource.title }}
{% endblock %}

{% load static %}}


{% block js %}
  <script src="{% static 'js/resource.js' %}"></script>
{% endblock %}


{% block app_content %}

<div class="hidden">

</div>


<div x-data="{    showNotepad: false,
                  deleteConfirm: false, showSlideover: false,
                  title: '{{ resource.title }}',
                   resource_type: '{{ resource.resource_type }}',
                   url: '{{ resource.url }}',
                   subject: '{{ resource.subject }}'
                   }" class="bg-white shadow overflow-hidden sm:rounded-lg max-w-7xl mx-auto sm:px-6 lg:px-8 mt-16">
  <div class="px-4 py-5 border-b border-gray-200 sm:px-6">

    <div x-show="showNotepad">
      {% include "dashboard/resource/notepad.html" %}
    </div>


    <div x-show="deleteConfirm" class="bg-white sm:rounded-lg mt-2 mb-8">
      <div class="">
        <h3 class="text-lg leading-6 font-medium text-gray-900">
          Delete "{{ resource.title }}"?
        </h3>
        <div class="mt-2 max-w-xl text-sm leading-5 text-gray-500">
          <p>
            You are about to permanently delete this resource. All Tasks and Notes related to that resource will be deleted too.
          </p>
        </div>
        <div class="mt-5">
          <button @click="deleteResource({{resource.id}})" type="button" class="inline-flex items-center justify-center px-4 py-2 border border-transparent font-medium rounded-md text-red-700 bg-red-100 hover:bg-red-50 focus:outline-none focus:border-red-300 focus:shadow-outline-red active:bg-red-200 transition ease-in-out duration-150 sm:text-sm sm:leading-5">
            Delete
          </button>
        </div>
      </div>
    </div>


    <div class="flex items-center"
         x-data="{ inputHidden: true,
         title: '{{ resource.title|title }}'}">
      <h3 x-show="inputHidden" x-text="title"
          class="text-lg leading-6 font-medium text-gray-900">
      </h3>

      <div x-show="!inputHidden">
        <input id="email" x-model="title" class="form-input block w-full border-blue-300 text-blue-900 placeholder-blue-300 focus:border-blue-300 focus:shadow-outline-blue sm:text-sm sm:leading-5" value="{{ resource.title }}">
      </div>


      <div class="flex flex-col">
        <button @click="inputHidden = !inputHidden"  :class="{ 'mb-4': inputHidden, 'mb-1': !inputHidden }" class="editDetailBtn hidden ml-2 p-1 rounded-full hover:bg-gray-200 active:bg-gray-400 cursor-pointer">
          <svg x-show="inputHidden" class="h-4 text-gray-500 hover:text-gray-700" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor"><path d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"></path></svg>
          <svg x-show="!inputHidden" class="h-4 text-gray-500 hover:text-gray-700" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor"><path d="M6 18L18 6M6 6l12 12"></path></svg>
        </button>
        <button @click="updateResourcePost( { title }, {{ resource.id }});inputHidden = !inputHidden" x-show="!inputHidden" class="ml-2 p-1 rounded-full bg-green-100 hover:bg-green-200 active:bg-green-400 cursor-pointer">
          <svg class="h-4 text-green-500 hover:text-gray-600" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor"><path d="M5 13l4 4L19 7"></path></svg>
        </button>
      </div>
    </div>

    <p x-data="{ typeHidden: true, resource_type: '{{ resource.resource_type }}' }" class="mt-1 max-w-2xl text-sm leading-5 text-gray-500">
      <span x-show="typeHidden" x-text="resource_type" @click="typeHidden = !typeHidden" class="cursor-pointer"></span>
        <span class="inline-flex" x-show="!typeHidden">
          <select x-model="resource_type" required name="resource_type" id="new-res__type" class="mt-1 form-select block pl-3 pr-10 py-2 text-base leading-6 border-gray-300 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 sm:text-sm sm:leading-5">
            <option>Resource Type...</option>
            {% for tup in form.resource_type.field.choices %}
            <option value="{{ tup.0 }}"> {{ tup.1 }}</option>
            {% endfor %}
          </select>
          <span class="inline-flex rounded-md shadow-sm">
          <button @click="updateResourcePost( { resource_type }, {{ resource.id }} );typeHidden = !typeHidden" type="button" class="inline-flex items-center px-2.5  border border-gray-300 text-xs font-medium rounded text-gray-700 bg-white hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:text-gray-800 active:bg-gray-50 transition ease-in-out duration-150">
            Update
          </button>
        </span>
        </span>

    </p>
    <div class="float-right">
      <span class="z-0 inline-flex shadow-sm rounded-md">

  <form id="details-form" class="hidden">
    {% csrf_token %}
  </form>
  <button x-show="!showNotepad" @click="showNotepad = !showNotepad" type="button" class="inline-flex items-center px-4 py-2 rounded-l-md border border-gray-300 bg-white text-sm leading-5 font-medium text-gray-700 hover:text-gray-500 focus:z-10 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-100 active:text-gray-700 transition ease-in-out duration-150">
    Note
    <svg class="h-5 ml-1" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor"><path d="M9 13h6m-3-3v6m5 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z"></path></svg>
  </button>

  <button @click="toggleEditMode()" type="button" class="-ml-px relative inline-flex items-center px-4 py-2 border border-gray-300 bg-white text-sm leading-5 font-medium text-gray-700 hover:text-gray-500 focus:z-10 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-100 active:text-gray-700 transition ease-in-out duration-150">
      Edit
  </button>

  <button @click="deleteConfirm = !deleteConfirm" type="button" class="-ml-px  inline-flex items-center px-4 py-2 rounded-r-md border border-gray-300 bg-white text-sm leading-5 font-medium text-gray-700 hover:text-gray-500 focus:z-10 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-100 active:text-gray-700 transition ease-in-out duration-150">
    <svg class="h-5" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor"><path d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"></path></svg>
  </button>
</span>

    </div>
  </div>
  <div class="px-4 py-5 sm:px-6">
    <dl class="grid grid-cols-1 col-gap-4 row-gap-8 sm:grid-cols-2">

      <div x-data="{ inputHidden: true, subject: '{{ resource.subject }}' }" class="sm:col-span-1">
        <dt class="text-sm leading-5 font-medium text-gray-500 flex items-center">
          Subject
          <button @click="inputHidden = !inputHidden" class="editDetailBtn hidden ml-2 p-1 rounded-full hover:bg-gray-200 active:bg-gray-400 cursor-pointer">
            <svg x-show="inputHidden" class="h-4 text-gray-500 hover:text-gray-700" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor"><path d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"></path></svg>
            <svg x-show="!inputHidden" class="h-4 text-gray-500 hover:text-gray-700" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor"><path d="M6 18L18 6M6 6l12 12"></path></svg>
          </button>
        </dt>


        <div x-show="!inputHidden" class="mr-32  md:mr-48">
          <div class="mt-1 flex rounded-md shadow-sm">
            <div class="relative flex-grow focus-within:z-10">
              <input  x-model="subject"
                      x-bind:value="subject"
                      class="form-input block w-full rounded-none rounded-l-md transition ease-in-out duration-150 text-sm sm:leading-5">
            </div>
            <button @click="updateResourcePost({ subject }, {{ resource.id }});inputHidden = !inputHidden" x-show="!inputHidden"
                    class="-ml-px relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm leading-5 font-medium rounded-r-md text-gray-700 bg-gray-50 hover:text-gray-500 hover:bg-white focus:outline-none focus:shadow-outline-blue focus:border-blue-300 active:bg-gray-100 active:text-gray-700 transition ease-in-out duration-150">
              <span class="ml-2">Update</span>
            </button>
          </div>
        </div>




        <dd x-show="inputHidden" x-text="subject" class="mt-1 text-sm leading-5 text-gray-900"></dd>
      </div>

      <div class="sm:col-span-1">
        <dt class="text-sm leading-5 font-medium text-gray-500">
          Status
        </dt>
        <dd class="mt-1 text-sm leading-5 text-gray-900">
            <div x-data="{ currentStatus: '{{ resource.status }}', resourceId: {{ resource.id }} }" class="group mt-2 flex items-center text-sm leading-5 cursor-pointer">

              <template x-if="currentStatus == 'Not Started/On Hold'">
                <button @click="currentStatus == 'Updating...';updateResourcePost({ status: 'In Progress'}, resourceId);currentStatus = 'In Progress'" type="button" class="flex items-center">
                  <svg  class="flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400 group-hover:text-yellow-400" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor"><path d="M10 9v6m4-6v6m7-3a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
                  <span class="group-hover:text-gray-500" x-text="currentStatus"></span>
                </button>
              </template>

              <template x-if="currentStatus == 'In Progress'">
                <button @click="currentStatus == 'Updating...';updateResourcePost({ status: 'Completed'}, resourceId);currentStatus = 'Completed'" type="button" class="flex items-center">
                <svg class="flex-shrink-0 mr-1.5 h-5 w-5 text-yellow-400 group-hover:text-green-400"  fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor"><path d="M8 12h.01M12 12h.01M16 12h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
                <span class="group-hover:text-gray-500" x-text="currentStatus"></span>
                </button>
              </template>

              <template x-if="currentStatus == 'Completed'">
                <button @click="currentStatus == 'Updating...';updateResourcePost('Not Started/On Hold', resourceId);currentStatus = 'Not Started/On Hold'" type="button" class="flex items-center">
                <svg class="flex-shrink-0 mr-1.5 h-5 w-5 text-green-400 group-hover:text-gray-400" viewBox="0 0 20 20" fill="currentColor">
                  <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                </svg>
                <span class="group-hover:text-gray-500" x-text="currentStatus"></span>
                </button>
              </template>

              <template x-if="currentStatus == 'Updating...'">
                <svg class="flex-shrink-0 mr-1.5 h-5 w-5 text-blue-400" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor"><path d="M8 17a5 5 0 01-.916-9.916 5.002 5.002 0 019.832 0A5.002 5.002 0 0116 17m-7-5l3-3m0 0l3 3m-3-3v12"></path></svg>
                <span class="text-gray-600" x-text="currentStatus"></span>
              </template>







            </div>
        </dd>
      </div>


      <div x-data="{ inputHidden: true, url: '{{ resource.url }}' }" class="sm:col-span-1">
        <dt class="text-sm leading-5 font-medium text-gray-500">
          URL
          <button @click="inputHidden = !inputHidden" class="editDetailBtn hidden ml-2 p-1 rounded-full hover:bg-gray-200 active:bg-gray-400 cursor-pointer">
            <svg x-show="inputHidden" class="h-4 text-gray-500 hover:text-gray-700" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor"><path d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"></path></svg>
            <svg x-show="!inputHidden" class="h-4 text-gray-500 hover:text-gray-700" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor"><path d="M6 18L18 6M6 6l12 12"></path></svg>
          </button>
        </dt>

        <div x-show="!inputHidden" class="mr-32  md:mr-48">
          <div class="mt-1 flex rounded-md shadow-sm">
            <div class="relative flex-grow focus-within:z-10">
              <input  x-model="url"
                      x-bind:value="url"
                      class="form-input block w-full rounded-none rounded-l-md transition ease-in-out duration-150 text-sm sm:leading-5">
            </div>
            <button @click="updateResourcePost({ url }, {{ resource.id }});inputHidden = !inputHidden" x-show="!inputHidden"
                    class="-ml-px relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm leading-5 font-medium rounded-r-md text-gray-700 bg-gray-50 hover:text-gray-500 hover:bg-white focus:outline-none focus:shadow-outline-blue focus:border-blue-300 active:bg-gray-100 active:text-gray-700 transition ease-in-out duration-150">
              <span class="ml-2">Update</span>
            </button>
          </div>
        </div>

        <dd x-show="inputHidden" class="mt-1 text-sm leading-5 text-gray-900">
          <a x-show="url" class="text-pink-500 hover:text-pink-300 cursor-pointer"
             x-bind:href="url"
             target="_blank"
             x-text="url"></a>
          <p x-show="!url">No URL</p>
        </dd>
      </div>



      <div class="sm:col-span-1">
        <dt class="text-sm leading-5 font-medium text-gray-500">
          Last Updated
        </dt>
        <dd class="mt-1 text-sm leading-5 text-gray-900">
            {{ resource.updated }}
        </dd>
      </div>
      <div x-data="{ inputHidden: true, description: '{{ resource.description }}' }" class="sm:col-span-2">
        <dt class="text-sm leading-5 font-medium text-gray-500">
          About
          <button @click="inputHidden = !inputHidden" class="editDetailBtn hidden ml-2 p-1 rounded-full hover:bg-gray-200 active:bg-gray-400 cursor-pointer">
            <svg x-show="inputHidden" class="h-4 text-gray-500 hover:text-gray-700" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor"><path d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"></path></svg>
            <svg x-show="!inputHidden" class="h-4 text-gray-500 hover:text-gray-700" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor"><path d="M6 18L18 6M6 6l12 12"></path></svg>
          </button>
          <button @click="updateResourcePost( { description }, {{ resource.id }});inputHidden = !inputHidden" x-show="!inputHidden" class="ml-2 p-1 rounded-full bg-green-100 hover:bg-green-200 active:bg-green-400 cursor-pointer">
            <svg class="h-4 text-green-500 hover:text-gray-600" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor"><path d="M5 13l4 4L19 7"></path></svg>
          </button>
        </dt>
        <dd class="mt-1 text-sm leading-5 text-gray-900">
          <div x-show="inputHidden" x-text="description"></div>
          <div x-show="!inputHidden"  class="relative rounded-md shadow-sm">
            <textarea x-model="description" id="new-res__description" rows="4" class="form-input block w-full sm:text-sm sm:leading-5 transition ease-in-out duration-150"></textarea>
          </div>
        </dd>
      </div>
      <div class="sm:col-span-2">
        <dt class="text-sm leading-5 font-medium text-gray-500">
          Notes
        </dt>
        <dd class="mt-1 text-sm leading-5 text-gray-900">
          <ul class="border border-gray-200 rounded-md">
            {% for note in resource.notes.all %}
            <li class="pl-3 pr-4 py-3 flex items-center justify-between text-sm leading-5">
              <div class="w-0 flex-1 flex items-center">
                <svg class="flex-shrink-0 h-5 w-5 text-gray-400" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor"><path d="M7 21h10a2 2 0 002-2V9.414a1 1 0 00-.293-.707l-5.414-5.414A1 1 0 0012.586 3H7a2 2 0 00-2 2v14a2 2 0 002 2z"></path></svg>
                <span class="ml-2 flex-1 w-0 truncate">
                  {{ note.title }}
                </span>
              </div>
              <div class="ml-4 flex-shrink-0">
                <a href="{% url 'dashboard:note_detail' note.id  %}" class="font-medium text-pink-600 hover:text-pink-500 transition duration-150 ease-in-out">
                  Edit
                </a>
              </div>
            </li>
            {% endfor %}
            <li class="border-t border-gray-200 pl-3 pr-4 py-3 flex items-center justify-between text-sm leading-5">
              <div class="w-0 flex-1 flex items-center">
                <svg class="flex-shrink-0 h-5 w-5 text-gray-400" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor"><path d="M7 21h10a2 2 0 002-2V9.414a1 1 0 00-.293-.707l-5.414-5.414A1 1 0 0012.586 3H7a2 2 0 00-2 2v14a2 2 0 002 2z"></path></svg>
                <span class="ml-2 flex-1 w-0 truncate">
                  Rules of Web Design
                </span>
              </div>
              <div class="ml-4 flex-shrink-0">
                <a href="#" class="font-medium text-pink-600 hover:text-pink-500 transition duration-150 ease-in-out">
                  Edit
                </a>
              </div>
            </li>
          </ul>
        </dd>
      </div>
    </dl>
  </div>












</div>

<!-- Task Area -->
<div class="max-w-8xl mx-auto sm:px-6 lg:px-20">
          <div class="mt-16">
              <div class="bg-white shadow overflow-hidden sm:rounded-md">
  <ul>
    <li>
      <div class="bg-white px-4 py-5 sm:px-6">
              <div class="-ml-4 -mt-2 flex items-center justify-between flex-wrap sm:flex-no-wrap">
                <div class="ml-4 mt-2">
                  <h3 class="text-lg leading-6 font-medium text-gray-900">
                    Tasks
                  </h3>
                </div>
                <div class="ml-4 mt-2 flex-shrink-0">
                  <form>
                    <div x-data="{ taskTitle: '' }" class="flex rounded-md shadow-sm">
                      <div class="relative flex-grow focus-within:z-10">
                        <input x-model="taskTitle" class="form-input block w-full rounded-none rounded-l-md transition ease-in-out duration-150 sm:text-sm sm:leading-5" placeholder="New Task">
                      </div>
                      <button @click="addTask(taskTitle, '{{ resource.id }}' );taskTitle = '';" type="submit" class="-ml-px relative inline-flex items-center px-4 py-2 border border-transparent text-sm leading-5 font-medium rounded-none rounded-r-md text-white bg-pink-600 hover:bg-pink-500 focus:outline-none focus:shadow-outline-pink focus:border-pink-700 active:bg-pink-700">
                      New Task
                    </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
    </li>

  </ul>


  <div class="py-2 mb-4 px-16">

    {% for task in resource.tasks.all %}
    <div x-data="{ status: '{{ task.status|title }}', title: '{{ task.title }}', editMode: false }" class="border-b border-gray-200">
      <div class="">

        <div class="mt-2 flex justify-between leading-5 text-gray-500 cursor-pointer">
          <div class="inline-flex">
            <svg @click="deleteTask({{task.id}})" class="text-gray-400 hover:text-red-500 active:text-red-700 flex-shrink-0 mr-1.5 h-5 w-5" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor"><path d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
            <span   @click="editMode = !editMode"
                    x-show="!editMode" class="text-base text-pink-500" x-text="title"></span>
            <span x-show="editMode" class="text-base text-pink-500 border border-pink-500">
              <input  @click.away="editMode = !editMode;updateTask({ title }, {{ task.id }} )"
                      x-model="title" type="text">
            </span>
          </div>
          <div @click="if (status == 'Todo'){ status = 'Completed'; } else { status = 'Todo' };updateTask( {status: status.toLowerCase() }, {{ task.id }} )" class="inline-flex cursor-pointer group">
            <span class="w-48 text-sm">({{ task.updated }})</span>
            <svg :class="{ 'text-green-400 group-hover:text-gray-400': status == 'Completed',
                          'text-gray-400 group-hover:text-green-400': status == 'Todo' }" class="flex-shrink-0 mr-1.5 h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
            </svg>
          </div>

        </div>
      </div>
    </div>
    {% endfor %}

  </div>

</div>


        </div>
      </div>
{% endblock %}