{% extends "app_base.html" %}

{% block title %}
{{ resource.title }}
{% endblock %}

{% load dashboard_tags %}

{% load static %}

{% block js %}
  <script src="{% static 'js/notes.js' %}"></script>
{% endblock %}

{% block app_content %}
<form id="details-form" class="hidden">
    {% csrf_token %}
  </form>




<div x-data="{ content: '', 'title': '' }" class="bg-white shadow overflow-hidden sm:rounded-lg max-w-7xl mx-auto sm:px-6 lg:px-8 mt-16">
  <div class="px-4 py-5 border-b border-gray-200 sm:px-6">
    <h3 class="text-lg leading-6 font-medium text-gray-900">
        {{ resource.title|title }}
    </h3>
    <p class="mt-1 max-w-2xl text-sm leading-5 text-gray-500">
        {{ resource.resource_type }}
    </p>
  </div>
  <div class="px-4 py-5 sm:px-6">
      {% if not note %}
      <div>
          <div class="flex ">
              <div class="w-4/5">
                  <label for="title" class="sr-only">Title</label>
                  <div class="relative rounded-md shadow-sm">
                      <input x-model="title" id="title" class="form-input block w-full sm:text-sm sm:leading-5" placeholder="Post Title">
                  </div>
              </div>
              <button @click="addNote(title, content)" class="ml-2 w-1/5 px-2 py-1 bg-indigo-600 text-white rounded">
                  Add Note
              </button>
          </div>

          <div class="border mt-4 w-full">
            <textarea class="p-2 w-full" x-model="content"  name="content" id="" rows="100">
            </textarea>
          </div>
      </div>
      {% else %}
        <div class="prose lg:prose-xl">
            {{ note.content|markdown }}
        </div>
      {% endif %}



  </div>
</div>



{% endblock %}