{% extends "app_base.html" %}

{% load static %}

{% block title %}
Dashboard
{% endblock %}

{% block js %}
{% endblock %}

{% block sidebar %}
{% url 'dashboard:note_list' as the_url %}
{% include "shared/subject_sort.html" with endpoint=the_url %}
{% endblock %}


{% block app_content %}


<main>
  <div class="mx-auto sm:px-6 lg:px-8">
    <!-- Materials Card -->
    <div class="bg-white overflow-hidden sm:rounded-md">
      <ul>
        <li>
          <div class="bg-white px-4 py-5 sm:px-6">

                        <div class="flex items-center justify-between">
                            <div>
                                {% if not user.profile.photo %}
                                    <span class="inline-block h-36 w-36 my-8 rounded-full bg-gray-100">
                                        <svg class="h-full w-full text-gray-300 rounded-full" fill="currentColor" viewBox="0 0 24 24">
                                          <path d="M24 20.993V24H0v-2.996A14.977 14.977 0 0112.004 15c4.904 0 9.26 2.354 11.996 5.993zM16.002 8.999a4 4 0 11-8 0 4 4 0 018 0z" />
                                        </svg>
                                    </span>
                                    {% else %}
                                  <img class="border-4 border-indigo-500 inline-block object-cover object-center h-36 w-36 my-8 rounded-full"
                                         src="{{ user.profile.photo.url }}"
                                         alt="{{ user.username }}'s profile photo">
                                    {% endif %}
                                  <h3 class="text-lg leading-6 font-medium text-gray-900 text-center">
                                    {{ user.username }}
                                  </h3>
                            </div>
                            <div class="prose">
                                <p>{{ user.profile.about }}</p>
                            </div>
                        </div>








                    <div class="bg-gray-100 p-8 text-left">
                        <div class="prose">
                            <ul>
                                <b>Learning:</b>
                                {% for subject in user.subjects.all %}

                                <li>{{ subject }}</li>
                                {% endfor %}
                            </ul>
                        </div>


                    </div>

                </div>
        </li>

        <li>
          <div class="bg-white px-4 py-5 sm:px-6">
                  <div class="-ml-4 -mt-2 flex items-center justify-between flex-wrap sm:flex-no-wrap">
                    <div class="ml-4 mt-2">
                      <h3 class="text-lg leading-6 font-medium text-gray-900">
                        Log
                      </h3>
                    </div>
                  </div>
                </div>
        </li>

        {% for action in user.actions.all %}
          <li>
              <div class="bg-gray-50 px-4 py-5 sm:px-6 m-4 flex items-center justify-between">

                  <div class="flex items-center">
                        <img class="mr-2 object-cover object-center border-2 border-indigo-500 inline-block h-10 w-10 rounded-full" src="{% if action.user.profile.photo %}{{ action.user.profile.photo.url }}{% endif %}" alt="{{ action.user.username}}'s profile picture">
                      <div>
                          <div>
                              <a href="{% url 'dashboard:profile' action.user.username %}" class="text-indigo-500 font-medium">@{{ action.user.username }}</a>
                              <span>{{ action.verb }} {% if action.target %}
                              {% if action.verb == 'started discussion' %}<a class="text-indigo-500" href="{% url 'dashboard:discussion_detail' action.target.id %}">{{ action.target }}</a>{% endif %}
                              {% if action.verb == 'learned today:' %}<span class="text-gray-500">{{ action.target }}</span>{% endif %}
                              {% if action.verb == 'completed a task' %}<span class="text-gray-500">{{ action.target }}</span>{% endif %}
                              {% endif %}</span>
                          </div>
                          <p class="text-gray-500 text-sm">{{ action.created|timesince }} ago</p>
                      </div>
                  </div>
                  <div>
<!--                      <button class="rounded p-2 shadow bg-white hover:bg-gray-100 active:bg-gray-200">-->
<!--                          <svg class="h-6" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor"><path d="M14 10h4.764a2 2 0 011.789 2.894l-3.5 7A2 2 0 0115.263 21h-4.017c-.163 0-.326-.02-.485-.06L7 20m7-10V5a2 2 0 00-2-2h-.095c-.5 0-.905.405-.905.905 0 .714-.211 1.412-.608 2.006L7 11v9m7-10h-2M7 20H5a2 2 0 01-2-2v-6a2 2 0 012-2h2.5"></path></svg>-->
<!--                      </button>-->
                  </div>

              </div>
          </li>
        {% endfor %}

      </ul>



  </div>
</div>

    </main>
{% endblock %}